* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: url(../../images/fixedpagebg.jpg) no-repeat center center fixed;
  background-size: cover; }
  html:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../../images/tiledpagebg.jpg) 0 0;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    zoom: 1;
    z-index: -1; }
  html.lt-ie9 {
    background: url(../../images/tiledpagebg.jpg); }
    html.lt-ie9:after {
      content: none;
      background: none; }

a, a:link, a:hover {
  text-decoration: none;
  color: inherit; }

#container {
  width: 960px;
  margin: 0 auto;
  border: #b4b4b4 solid 1px;
  -webkit-box-shadow:  0px 0px 10px 2px #b4b4b4;
  -moz-box-shadow:  0px 0px 10px 2px #b4b4b4;
  box-shadow:  0px 0px 10px 2px #b4b4b4;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666; }
  #container .left {
    float: left; }
  #container .right {
    float: right; }
  #container .flexbutton {
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 1px solid #b4b4b4;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 16px;
    background-color: #cecece;
    background: -moz-linear-gradient(bottom, #cecece 25%, #dfdfdf 75%, #eeeeee 100%);
    background: -webkit-linear-gradient(bottom, #cecece 25%, #dfdfdf 75%, #eeeeee 100%);
    background: -o-linear-gradient(bottom, #cecece 25%, #dfdfdf 75%, #eeeeee 100%);
    background: -ms-linear-gradient(bottom, #cecece 25%, #dfdfdf 75%, #eeeeee 100%);
    background: linear-gradient(to top, #cecece 25%, #dfdfdf 75%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col3',GradientType=0 ); }
    #container .flexbutton:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 1px;
      bottom: 1px;
      right: 1px;
      left: 1px;
      border: 2px solid white; }
    #container .flexbutton:hover {
      background-color: #dfdfdf;
      background: -moz-linear-gradient(bottom, #dfdfdf 40%, #efefef 75%, white 100%);
      background: -webkit-linear-gradient(bottom, #dfdfdf 40%, #efefef 75%, white 100%);
      background: -o-linear-gradient(bottom, #dfdfdf 40%, #efefef 75%, white 100%);
      background: -ms-linear-gradient(bottom, #dfdfdf 40%, #efefef 75%, white 100%);
      background: linear-gradient(to top, #dfdfdf 40%, #efefef 75%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col3',GradientType=0 ); }
  #container nav.primary {
    background-color: #333333 !important;
    height: 40px;
    color: #bababa;
    clear: both; }
    #container nav.primary ul {
      margin: 0;
      padding: 0px 35px; }
      #container nav.primary ul li {
        display: inline-block;
        position: relative;
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        padding: 0px;
        margin-right: -5px; }
        .lt-ie9 #container nav.primary ul li {
          padding: 0 3px; }
        #container nav.primary ul li:last-child {
          margin-right: 0px; }
        #container nav.primary ul li.active {
          background-color: black;
          color: #bfb35f; }
          #container nav.primary ul li.active:after {
            content: " ";
            border: 10px solid transparent;
            border-top: 10px solid black;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            z-index: 1; }
        #container nav.primary ul li a {
          display: inline-block;
          padding: 10px 15px; }
          #container nav.primary ul li a span[class*="icon-"] {
            padding-right: 5px; }
          #container nav.primary ul li a:hover {
            background-color: black;
            color: #bfb35f; }
        #container nav.primary ul li.group a {
          padding: 10px 5px; }
  #container header h1 {
    background-color: #f0ece7;
    background: -moz-linear-gradient(top, #f0ece7 0%, #f0ece7 50%, #e3ddd5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0ece7), color-stop(50%, #f0ece7), color-stop(100%, #e3ddd5));
    background: -webkit-linear-gradient(top, #f0ece7 0%, #f0ece7 50%, #e3ddd5 100%);
    background: -o-linear-gradient(top, #f0ece7 0%, #f0ece7 50%, #e3ddd5 100%);
    background: -ms-linear-gradient(top, #f0ece7 0%, #f0ece7 50%, #e3ddd5 100%);
    background: linear-gradient(to bottom, #f0ece7 0%, #f0ece7 50%, #e3ddd5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ece7', endColorstr='#e3ddd5',GradientType=0 );
    color: #000;
    font-size: 38px;
    font-weight: 300;
    margin-top: 0;
    height: 80px;
    text-align: center;
    padding-top: 17px; }
    #container header h1 span {
      color: #bfab92; }
  #container footer {
    margin: 15px 50px;
    padding: 20px 0px 10px 0px;
    font-size: 14px;
    text-align: right;
    border-top: 1px solid #e1e1e1; }
  #container div.main_home {
    padding: 15px 50px;
    font-size: 16px; }
    #container div.main_home .slideshow .slidesmask {
      width: 860px;
      height: 362px;
      overflow: hidden; }
      #container div.main_home .slideshow .slidesmask .slides {
        width: 10000px;
        margin-left: -860px; }
        #container div.main_home .slideshow .slidesmask .slides article {
          position: relative;
          width: 860px;
          height: 362px;
          float: left; }
          #container div.main_home .slideshow .slidesmask .slides article .label {
            position: absolute;
            width: 100%;
            height: 70px;
            top: 250px;
            color: white;
            font-size: 22px;
            font-weight: 400;
            z-index: 10;
            padding: 8px 15px; }
            #container div.main_home .slideshow .slidesmask .slides article .label:before {
              content: " ";
              position: absolute;
              background-color: #000;
              width: 100%;
              height: 70px;
              padding-right: 2px;
              top: 0px;
              left: 0px;
              opacity: 0.3;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
              filter: alpha(opacity=30);
              zoom: 1;
              z-index: -1; }
              .lt-ie9 #container div.main_home .slideshow .slidesmask .slides article .label:before {
                background-color: #777; }
            #container div.main_home .slideshow .slidesmask .slides article .label .sublabel {
              font-size: 16px;
              padding-top: 2px; }
    #container div.main_home .slideshow .control {
      text-align: center;
      padding: 10px;
      border-bottom: 1px dashed #e1e1e1; }
      #container div.main_home .slideshow .control span {
        font-size: 14px; }
  #container div.main_pf {
    padding: 15px 50px; }
    #container div.main_pf h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #b4b4b4; }
    #container div.main_pf .category h3 {
      margin: 0;
      padding: 0;
      margin-top: 30px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-weight: 500;
      font-size: 20px;
      border-bottom: 1px dashed #b4b4b4; }
    #container div.main_pf .category .workdisplay {
      display: none; }
      #container div.main_pf .category .workdisplay.active {
        display: block; }
      #container div.main_pf .category .workdisplay .info {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden; }
        #container div.main_pf .category .workdisplay .info h4 {
          margin: 0;
          padding: 0;
          font-size: 20px;
          font-weight: 400; }
        #container div.main_pf .category .workdisplay .info p {
          margin: 0;
          padding: 0; }
        #container div.main_pf .category .workdisplay .info .flexbutton {
          margin-top: 10px;
          margin-left: 10px; }
      #container div.main_pf .category .workdisplay .imageviewer {
        width: 1000px;
        clear: both;
        margin-left: -70px; }
        #container div.main_pf .category .workdisplay .imageviewer .imageframe {
          position: relative;
          float: left;
          width: 860px;
          height: 480px;
          background-color: #dedede;
          border: #b4b4b4 solid 1px;
          -webkit-box-shadow: inset 0px 0px 10px 2px #b4b4b4;
          -moz-box-shadow: inset 0px 0px 10px 2px #b4b4b4;
          box-shadow: inset 0px 0px 10px 2px #b4b4b4; }
          #container div.main_pf .category .workdisplay .imageviewer .imageframe img {
            position: absolute;
            max-height: 440px;
            max-width: 820px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
        #container div.main_pf .category .workdisplay .imageviewer .previous, #container div.main_pf .category .workdisplay .imageviewer .next {
          width: 70px;
          height: 480px;
          position: relative; }
          #container div.main_pf .category .workdisplay .imageviewer .previous a, #container div.main_pf .category .workdisplay .imageviewer .next a {
            position: absolute;
            width: 57px;
            height: 147px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
        #container div.main_pf .category .workdisplay .imageviewer .previous a {
          background: url(../../images/slider_lefttab_off.png) no-repeat; }
          #container div.main_pf .category .workdisplay .imageviewer .previous a:hover {
            background-image: url(../../images/slider_lefttab_on.png); }
        #container div.main_pf .category .workdisplay .imageviewer .next a {
          background: url(../../images/slider_righttab_off.png) no-repeat;
          top: 12px; }
          #container div.main_pf .category .workdisplay .imageviewer .next a:hover {
            background-image: url(../../images/slider_righttab_on.png); }
      #container div.main_pf .category .workdisplay .caption {
        clear: both;
        text-align: center;
        padding: 10px;
        border-bottom: 1px dashed #b4b4b4; }
    #container div.main_pf .category ul.thumbs {
      margin: 0;
      padding: 0;
      width: 880px; }
      #container div.main_pf .category ul.thumbs li {
        display: inline-block;
        list-style: none;
        padding: 10px 22px 10px 0; }
        #container div.main_pf .category ul.thumbs li img {
          width: 100px;
          height: 100px;
          cursor: pointer; }
          #container div.main_pf .category ul.thumbs li img:hover {
            opacity: 0.75;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
            filter: alpha(opacity=75);
            zoom: 1; }
        #container div.main_pf .category ul.thumbs li.active img {
          border: 5px solid #fec607;
          -webkit-box-shadow:  0px 0px 5px 2px #b4b4b4;
          -moz-box-shadow:  0px 0px 5px 2px #b4b4b4;
          box-shadow:  0px 0px 5px 2px #b4b4b4; }
          #container div.main_pf .category ul.thumbs li.active img:hover {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            zoom: 1; }
